<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     autoReload="true"
       internalLogLevel="Warn"
       internalLogFile="internal-nlog.txt">
  <!--define various log targets-->
  <targets async="true">
    <!--write logs to file-->
    <target xsi:type="File" name="allfile" fileName="NlogFile/Application-${shortdate}.log"
             layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="File" name="Api-web" fileName="NlogFile/Api-${shortdate}.log"
             layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"/>
    <target xsi:type="File" name="Business" fileName="NlogFile/Business-${shortdate}.log"
                layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"/>
    <target xsi:type="File" name="Sql-web" fileName="NlogFile/Sql-${shortdate}.log"
              layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"/>

  </targets>
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name ="*" minlevel="Trace" writeTo="allfile"/>

    <logger name="SunriseOA.Applicaion.*" minlevel="Trace" writeTo="Business"/>

    <logger name="SunriseOA.ZAPI.*" minlevel="Debug" writeTo="Api-web"/>

    <logger name="SunriseOA.Repository.*" minlevel="Trace" writeTo="Sql-web"/>

    <!--Skip Microsoft logs and so log only own logs-->



  </rules>
</nlog>